:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
::selection {
  background-color: var(--blue-color);
  color: white;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* ===== SIDEBAR ===== */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -29px;
  }
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* ===== CONTENT ===== */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f002";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  color: transparent;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* ===== WELCOME WIDGET ===== */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 20px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* ===== QUICK DRAFT WIDGET ===== */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* ===== TARGETS WIDGET ===== */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  right: 0;
  bottom: 16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  transform: translateX(50%);
  font-size: 13px;
}
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .money .icon,
.targets .money .progress {
  background-color: rgb(0 117 255 / 20%);
}
.money .icon i {
  color: var(--blue-color);
}
.targets .money .progress span {
  background-color: var(--blue-color);
}
.targets .money .details .progress > span span::after {
  border-top-color: var(--blue-color);
}
.targets .project .icon,
.targets .project .progress {
  background-color: rgb(245 159 11 / 20%);
}
.targets .project .icon i {
  color: var(--orange-color);
}
.targets .project .progress span {
  background-color: var(--orange-color);
}
.targets .project .details .progress > span span::after {
  border-top-color: var(--orange-color);
}
.targets .team .icon,
.targets .team .progress {
  background-color: rgb(34 197 4 / 20%);
}
.targets .team .icon i {
  color: var(--green-color);
}
.targets .team .progress span {
  background-color: var(--green-color);
}
.targets .team .details .progress > span span::after {
  border-top-color: var(--green-color);
}
/* ===== TICKETS WIDGET ===== */
.tickets .box {
  border: 1px solid #ccc;
  flex-basis: 100%;
}
@media (min-width: 576px) {
  .tickets .box {
    flex-basis: calc(50% - 10px);
  }
}
/* ===== LATEST NEWS WIDGET ===== */
.latest-news .news-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.latest-news img {
  width: 100px;
  border-radius: 6px;
}
.latest-news .info {
  flex-grow: 1;
}
.latest-news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
  .latest-news .news-row .label {
    width: fit-content;
    margin: 10px auto;
  }
}
/* ===== TASKS WIDGET ===== */
.tasks .task-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.tasks .info {
  flex-grow: 1;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red-color);
}
/* ===== LATEST UPLOADS WIDGET ===== */
.latest-uploads li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.latest-uploads img {
  width: 40px;
  height: 40px;
}
.latest-uploads .info {
  flex: 1;
}
/* ===== LAST PROJECT PROGRESS WIDGET ===== */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s linear infinite alternate;
}
.last-project .launch-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  opacity: 0.1;
}
/* ===== REMINDERS ===== */
.reminders .key {
  width: 15px;
  height: 15px;
}
.reminders .blue .key {
  background-color: var(--blue-color);
}
.reminders ul .blue > div {
  border-left: 2px solid var(--blue-color);
}
.reminders .green .key {
  background-color: var(--green-color);
}
.reminders ul .green > div {
  border-left: 2px solid var(--green-color);
}
.reminders .orange .key {
  background-color: var(--orange-color);
}
.reminders ul .orange > div {
  border-left: 2px solid var(--orange-color);
}
.reminders .red .key {
  background-color: var(--red-color);
}
.reminders ul .red > div {
  border-left: 2px solid var(--red-color);
}
/* ===== LATEST POST WIDGET ===== */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* ===== SOCIAL MEDIA WIDGET ===== */
.social-media .box {
  padding-left: 70px;
  background-color: red;
}

.social-media .box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .twitter {
  background-color: rgba(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgba(24 118 242 / 20%);
  color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgba(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0077b5;
}
/* ===== PROJECTS TABLE ===== */
@media (max-width: 767px) {
  .projects {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table td {
  padding: 15px;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.projects tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table .label {
  font-size: 13px;
}
/* ===== SETIINGS ===== */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 100px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f00d";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  color: #ccc;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.settings-page .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}
/* ===== GENERAL INFO ===== */
.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.settings-page .button {
  transition: background-color 0.3s;
}
.settings-page .button:hover {
  background-color: var(--blue-alt-color);
}
.settings-page .social-info i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.settings-page .social-info input {
  height: 40px;
  padding-left: 10px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-info > div:focus-within i {
  color: black;
}
/* ===== WIDGETS CONTROL ===== */
.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
  transition: 0.3s;
}
.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f00c";
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(1turn);
}
.widgets-control .control input[type="checkbox"]:checked + label::before,
.widgets-control .control label:hover::before {
  border-color: var(--blue-color);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/* ===== BACKUP MANAGER ===== */
.backup-manager input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-manager .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-manager .date label::before,
.backup-manager .date label::after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transition: 0.3s;
}
.backup-manager .date label::before {
  width: 18px;
  height: 18px;
  left: 0;
  margin-top: -11px;
  border: 2px solid var(--grey-color);
}
.backup-manager .date label::after {
  background-color: var(--blue-color);
  width: 12px;
  height: 12px;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  transform: scale(0);
}
.backup-manager .date input[type="radio"]:checked + label::before,
.backup-manager .date label:hover::before {
  border-color: var(--blue-color);
}
.backup-manager .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-manager .servers {
  padding-top: 20px;
  border-top: 1px solid #eee;
}
@media (max-width: 767px) {
  .backup-manager .servers {
    flex-wrap: wrap;
  }
}
.backup-manager .servers .server {
  border: 2px solid #eee;
  transition: 0.3s;
}
.backup-manager .servers .server label {
  cursor: pointer;
}
.backup-manager .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* ===== PROFILE ===== */
/* ===== OVERVIEW WIDGET ===== */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
  text-align: center;
  padding: 20px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  width: 70%;
  margin: auto;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: inherit;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
@media (max-width: 767px) {
  .profile-page .info-box .box > div span {
    display: block;
  }
}
.profile-page .info-box .box h4 {
  font-weight: normal;
}
.profile-page .toggle-switch {
  height: 20px;
}
.profile-page .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
  top: 4px;
  left: 4px;
}
.profile-page .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
/* ===== OTHER DATA ===== */
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #eee;
  font-size: 14px;
  margin-bottom: 6px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    text-align: right;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/* ===== PROJECTS PAGE ===== */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.projects-page .project .date {
  position: absolute;
  top: 10px;
  right: 10px;
}
.projects-page .project h4 {
  font-weight: normal;
}
.projects-page .project .team {
  position: relative;
  min-height: 80px;
}
.projects-page .project .team a {
  position: absolute;
  bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 10;
}
.projects-page .project .team img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects-page .project .do {
  justify-content: flex-end;
  padding: 15px 0;
  margin: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects-page .project .do span {
  padding: 3px 8px;
  margin-left: 5px;
  width: fit-content;
}
@media (max-width: 767px) {
  .projects-page .project .do {
    flex-direction: column;
    row-gap: 10px;
  }
}
.projects-page .project .info .progress {
  width: 250px;
  height: 8px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.projects-page .project .info .progress span {
  position: absolute;
  height: 100%;
  left: 0;
  border-radius: inherit;
}
@media (max-width: 767px) {
  .projects-page .project .info {
    flex-direction: column;
    row-gap: 15px;
  }
}
/* ===== COURSES PAGE ===== */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.courses-page .course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
.courses-page .course .description {
  line-height: 2;
}
.courses-page .course .info {
  border-top: 1px solid #eee;
}
.courses-page .course .info .title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ===== FRIENDS PAGE ===== */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.friends-page .friend .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}
.friends-page .friend .contact i {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #666;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}
.friends-page .friend .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .friend .icons {
  padding: 15px 0;
  margin: 10px 0 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.friends-page .friend .icons i {
  margin-right: 5px;
}
.friends-page .friend .icons .vip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
}
/* ===== FILES PAGE ===== */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: stretch;
  }
}
.files-page .files-stats {
  min-width: 250px;
}
.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.files-page .files-stats .icon.pdf {
  color: var(--blue-color);
  background-color: rgb(0 119 255 / 20%);
}
.files-page .files-stats .icon.images {
  color: var(--green-color);
  background-color: rgb(33 196 93 / 20%);
}
.files-page .files-stats .icon.word {
  color: var(--red-color);
  background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .icon.csv {
  color: var(--orange-color);
  background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .upload {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  transition: 0.3s;
}
.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .file img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}
.files-page .files-content .file .info {
  border-top: 1px solid #eee;
}
/* ===== PLANS PAGE ===== */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 768px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan.free .top,
.plans-page .plan.free .join {
  outline-color: var(--green-color);
  background-color: var(--green-color);
}
.plans-page .plan.basic .top,
.plans-page .plan.basic .join {
  outline-color: var(--blue-color);
  background-color: var(--blue-color);
}
.plans-page .plan.premium .top,
.plans-page .plan.premium .join {
  outline-color: var(--orange-color);
  background-color: var(--orange-color);
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  left: -20px;
  top: 0;
  font-size: 25px;
}
.plans-page .plan ul {
  margin: 15px 0;
}
.plans-page .plan ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.plans-page .plan ul li i:first-child {
  font-size: 18px;
  margin-right: 5px;
}
.plans-page .plan ul li i.yes {
  color: var(--red-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--green-color);
}
.plans-page .plan ul li i.help {
  color: var(--grey-color);
  margin-left: auto;
  cursor: pointer;
}
/* ===== ANIMATIONS ===== */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
